# IDEs
.idea
.vscode

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example
!.env
!.docker/mysql/.env.local
!.docker/wordpress/.env.local

# WP-CLI
wp-cli.local.yml

# VagrantBox
.vagrant

# Misc
storage/*.key
Homestead.yaml
Homestead.json
.phpunit.result.cache

/conf/bedrock/bedrock.local.env
config.php

info.php

.DS_Store
