# IDEs
.idea
.vscode



# WordPress
web/wp
web/.htaccess

# Dotenv
.env
.env.*

# Composer
vendor
auth.json

# npm
node_modules
webpack-assets.json
npm-debug.log
yarn-error.log

/conf/bedrock/bedrock.local.env
/conf/laravel/laravel.local.env
/conf/wordpress/wordpress.local.env

# WP-CLI
wp-cli.local.yml
